.AirtoolOverview {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.airtool-overview-title{
    color: #878787;
    font-weight: normal;
}

.bold-text {
    font-weight: bold;
}

.mark-text {
    background-color: #FFFF00;
}

.airtool-disclamer{
    font-size: 20px;
    color: #878787;
    font-weight: normal;
}

.AirtoolOverview__disclamer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: -55px;
}

.emoji{
    padding-bottom: 15px;
   margin-right: 20px;
    /*height: 20px;*/
}

@media screen and (max-width: 1225px) {
    .airtool-disclamer {
        font-size: 13px;
    }

    .new-line{
        white-space: initial;
    }

    .AirtoolOverview__disclamer {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: initial;
        left: initial;
    }

    .emoji{
        padding-bottom: initial;
        margin-right: initial;
        align-self: flex-start;
        width: 20px;
    }

}