.emoji{
    height: 34px;
}

.dreamTitle{
    padding-right: 15px;
}

@media screen and (max-width: 1225px) {
    .emoji{
        height: 28px;
    }

    .dreamTitle{
        padding-right: 10px;
    }
}