.jug-section-5__images-wrapper-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.padding-semi-sections-bottom > div:not(:last-child) {
    padding-bottom: 50px;
}

.padding-semi-sections-top > div {
    padding-top: 50px;
}

@media screen and (max-width: 1225px) {
    .jug-section-5__images-wrapper-1{
        flex-direction: column;
        justify-content: initial;
        align-items: center;
    }

    .jug-section-5__images-wrapper-1 > img:not(:last-child) {
        padding-bottom: 40px;
    }

    .jug-section-5__img{
        width: 100%;
    }
}