.AirtoolRedesigning {
    display: flex;
    flex-direction: column;
    font-color: #3F3939
}

.redesigning-images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1225px) {
    .new-line{
        white-space: initial;
    }
}