.jug-overview {
    width: 906px;
}
.jug-section-1__overview-content{
    margin-right: 30px;
}
.jug-section-1 {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    color: #3F3939;
}

.jug-section-1__header{
    font-size: 25px;
    font-weight: normal;
    color: #878787;
}

@media screen and (max-width: 1225px)  {
     .jug-section-1{
         flex-direction: column;
         font-size: 17px;
     }

    .jug-overview {
        width: 100%;
    }

    .jug-section-1__header{
        font-size: 17px;
    }

    .jug-section-1__overview-content{
        margin-right: initial;
    }
}