.scanning-container > div:not(:last-child) {
    padding-bottom: 40px;
}

.arrow-img{
    padding-top: 5px;
}

@media screen and (max-width: 1225px) {
    .arrow-img{
        padding-top: 10px;
        height: 10px;
    }
}
