.AirtoolTeam {
    display: flex;
    flex-direction: column;
}

.airtool-team-title{
    color: #878787;
    font-weight: normal;
}

.team-bullet-points{
    color: #3F3939;
    list-style-type: square;
}