.colored-headline {
    color: #3F3939;
    width: fit-content;
    font-size: 30px;
    font-weight: bolder;
    padding: 5px 25px 5px 25px;
}

@media screen and (max-width: 767px) {
    .colored-headline {
        font-size: 20px;
    }
}