.logo-size {
    /*width: 39px;*/
    height: 37px;
    padding-right: 10px;
}

.section3_img{
    display: initial;
}

.section3_phone_img{
    display: none;
}

@media screen and (max-width: 1225px)  {
    .logo-size{
        height: 28px;
    }

    .section3_img{
        display: none;
    }

    .section3_phone_img{
        display: initial;
    }
}