.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Link {
    margin-left: 15px;
}

.Link-content{
    text-decoration: none;
    color: black;
    font-weight: lighter;
}

.selected-link{
    font-weight: bold;
}

