.ProjectsItem {
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0px 0px 10px 1px rgba(122, 122, 122, 0.35);
    border-radius: 14px;
    background-color: #fefefe;
    color: #2e2e2e;
    margin-top: 20px;
}

.ProjectLogoContainer {
    width: 60%;
}


.CardContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-left: 5%;
    height: 434px;
}

.ProjectDescription{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 5%;
}

.goto{
    display: flex;
    flex-direction: column;
}

.ProjectLink{
    text-decoration: none;
    color: #878787;
}

.redesignText{
    color: #878787;
    font-size: 18px;
    font-weight: lighter;
}

.headLine{
    font-size: 40px;
    font-weight: bold;
}

.ProjectDescriptionText{
    font-size: 25px;
    font-weight: lighter;
    line-height: 18px;
}

.goToText{
    margin-bottom: 5%;
    font-size: 25px;
    font-weight: lighter;
}