.img-padding {
    padding-bottom: 30px;
    padding-top: 30px;
}

.img1DesWidth{
    max-width: 822px;
}

.middle-img-size{
    height: 32px;
}

.section5_arrow{
    padding: 10px 325px 10px 10px;
    height: 43px;
    align-self: flex-end;
}

@media screen and (max-width: 1225px) {
    .middle-img-size{
        height: 21px;
    }

    .section5_arrow{
        height: 25px;
        padding: 10px 50px 10px 10px;
    }
}