.kabuli-img-1{
    width: 894px;
    height: 671px;
}

.kabuli-img-2{
    width: 894px;
    height: 671px;
}

.kabuli-img-3{
    width: 1003px;
    height: 1281px;
}

.padding-divs-bottom-40 > div{
    padding-bottom: 40px;
}