.About {
    display: flex;
    flex-flow: row wrap;
    width: 1225px;
    font-family: "Lora";
}

.about-text-wrap {
    margin-left: 58px;
    min-height: 524px;
}

.profile-pic{
    max-height: 496px;
    border-radius: 5px;
}

.about-headline{
    font-weight: bolder;
}

.about-paragraph{
    line-height: 18px;
    font-family: "titillium web";
    font-weight: lighter;
}

@media screen and (max-width: 1024px) {
    .About {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: initial;
        width: 100%;
        margin-right: 20px;
        margin-left: 20px;
        font-family: "Lora";
    }

    .profile-pic{
        height: 300px;
    }

    .about-text-wrap {
        margin-left: initial;
        min-height: initial;
    }
}
