

.App {
  display: flex;
  flex-flow: column wrap;

  margin-top: 1%;
  font-family: "titillium web";
  background-color: #fafafa;
  color: #2e2e2e;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
