.App {
  display: flex;
  flex-flow: column wrap;

  margin-top: 1%;
  font-family: "titillium web";
  background-color: #fafafa;
  color: #2e2e2e;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.full-width-capacity{
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.font-color-3F3939{
  font-color: #3F3939
}

.font-color-656565{
  font-color: #656565
}

.font-color-black-1B2F4B{
  font-color: #1B2F4B
}

.font-color-878787{
  font-color: #878787
}

.space-between{
  justify-content: space-between;
}

.space-around{
  justify-content: space-around;
}

.width-595{
  width: 595px;
}

.width-588 {
  width: 588px;
}

.height-391 {
  height: 391px;
}

.height-509 {
  height: 509px;
}

.width-220{
  width: 220px;
}

.height-120 {
  height: 120px;
}

.background-image {
  background-size: 100%;
}

.center-text{
  text-align: center;
}

.font-50 {
  font-size: 50px;
}

.font-20{
  font-size: 20px;
}

.font-25 {
  font-size: 25px;
}

.font-40 {
  font-size: 40px;
}

.width-982 {
  width: 982px;
}

.width-1196 {
  width: 1196px;
}

.height-859 {
  height: 859px;
}

.width-837 {
  width: 837px;
}

.width-880{
  width: 880px;
}

.height-614 {
  height: 614px;
}

.height-196 {
  height: 196px;
}

.height-397{
  height: 397px;
}

.justify-content-center{
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.margin-top-40 {
  margin-top: 50px;
}

.margin-bottom-40 {
  margin-bottom: 50px;
}

.font-weight-lighter {
  font-weight: lighter;
}

.font-weight-bolder {
  font-weight: bolder;
}

.background-color-green {
  background-color: #B6DDDF;
}

.background-color-DFDFDF {
  background-color: #DFDFDF;
}

.border-radius-22{
  border-radius: 22px;
}

.padding-content-30{
  padding: 30px;
}

.redesigning-bullets{
  list-style-type: square;
}