.Intro {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: "Lora";
    padding-top: 40px;
}

.logo-container {
    padding-right: 27px;
    padding-top: 27px;
}

.main-logo{
    height: 178px;
    padding-top: 30px;
    padding-right: 20px;
}

.description-container{
    /*max-width: 645px;*/
}

.new-line{
    white-space: pre-line;
}

.description-container p{
    line-height: 40px;
}

.name-headline{
    font-size: 70px;
    font-weight: bold;
}

.middle-head-line{
    font-weight: bolder;
    font-size: 50px;
}

.description-test{
    font-family: "titillium web";
    white-space: pre-line;
}

.intro_description {
    font-family: "titillium web";
}

@media screen and (max-width: 1024px) {
    .Intro {
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: column;
        align-items: center;
    }

    .logo-container {
        padding-right: initial;
        padding-top: initial;
        display: flex;
        justify-content: center;
    }

    .main-logo {
        height: 170px;
        padding-bottom: 20px;
        padding-top: 10px;
        padding-right: initial;
    }

    .description-test{
        white-space: initial;
    }

    .semi-title{
        font-size: 25px;
    }

    .description-container p{
        line-height: initial;
    }
}