.ProjectShortcutWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ProjectShortcut{
    display: flex;
    flex-direction: column;
    width: 1368px;
}

.ProjectsShortcutHeader{
    height: 29px;
    padding-bottom: 40px;
    align-self: flex-start;
    padding-left: 20px;
}



.projects-shortcut-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .ProjectLinkLogo {
        width: 320px;
    }

    .projects-shortcut-container {
        justify-content: center;
    }

    .ProjectsShortcutHeader {
        height: 20px;
        width: initial;
        padding-bottom: 27px;
        padding-left: 40px;
    }

    .ProjectShortcut{
        width: 100%;
    }
}

